<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "UserLogin", "Login", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Employer<span class="carte"></span></a>
                        <ul class="dropdown-menu" role="menu" id="mytab">
                            <li role="presentation">
                                <p><span class="glyphicon glyphicon-user"></span>   @Html.ActionLink("ViewEmployers", "ViewEmployer", "Home")</p>
                            </li>
                            <li class="dedi">
                            </li>
                            <li role="presentation">
                                <p><span class="glyphicon glyphicon-plus-sign"></span>   @Html.ActionLink("AddEmployers", "CreateEmployer", "Home")</p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Supplier<span class="carte"></span></a>
                        <ul class="dropdown-menu" role="menu" id="mytab">
                            <li role="presentation">
                                <p><span class="glyphicon glyphicon-user"></span>   @Html.ActionLink("ViewSupplier", "ViewSuppliers", "Home")</p>
                            </li>
                            <li class="dedi">
                            </li>
                            <li role="presentation">
                                <p><span class="glyphicon glyphicon-plus-sign"></span>   @Html.ActionLink("AddSupplier", "CreateSupplier", "Home")</p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Master Data<span class="carte"></span></a>
                        <ul class="dropdown-menu" role="menu" id="mytab">
                            <li role="presentation">
                                <p><span class="glyphicon glyphicon-user"></span>   @Html.ActionLink("Master data items", "MasterTab", "Home")</p>
                            </li>
                            <li class="dedi">
                            </li>
                            <li role="presentation">
                                <p><span class="glyphicon glyphicon-plus-sign"></span>   @Html.ActionLink("Product", "CreateSupplier", "Home")</p>
                            </li>
                            <li class="dedi">
                            </li>
                            <li role="presentation">
                                <p><span class="glyphicon glyphicon-plus-sign"></span>   @Html.ActionLink("Product Type", "CreateSupplier", "Home")</p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Master Data<span class="carte"></span></a>
                        <ul class="dropdown-menu" role="menu" id="mytab">
                            <li role="presentation">
                                <p><span class="glyphicon glyphicon-user"></span>   @Html.ActionLink("User Creation", "CreateLogin", "Login")</p>
                            </li>
                            <li class="dedi">
                            </li>
                            <li role="presentation">
                                <p><span class="glyphicon glyphicon-plus-sign"></span>   @Html.ActionLink("Product", "CreateSupplier", "Home")</p>
                            </li>
                            <li class="dedi">
                            </li>
                            <li role="presentation">
                                <p><span class="glyphicon glyphicon-plus-sign"></span>   @Html.ActionLink("Product Type", "CreateSupplier", "Home")</p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("About", "Index", "Home", new { area = "" }, null)</li>

                    <li>@Html.ActionLink("Contuct", "Index", "Home", new { area = "" }, null)</li>

                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content" style="margin-top: 5px">
        <div>
            <p>
                <span class="glyphicon glyphicon-home"></span>
                @Html.MvcSiteMap().SiteMapPath()
            </p>
        </div>

    </div>

    @*Footer*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Href("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
