<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="@Href("~/Content/jquery.datetimepicker.min.css")" />
    <style>
        .loader {
            z-index: 9001;
            position: relative;
            top: calc(50% - 16px);
            left: calc(50% - 16px);
            height: 50px !important;
            width: 50px !important;
        }
    </style>
</head>
<body>
    @if (Session["CurrentUser"] != null)
    {
        <div class="navbar nav-side-menu navbar-fixed-top">

            <div class="container">
                <div class="brand">Brand Logo</div>
                <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
                <div class="menu-list">
                    <ul id="menu-content" class="menu-content collapse out">
                        <li class="active">
                            <a href="#">
                                <i class="fa fa-dashboard fa-lg"></i>  @Html.ActionLink("Dashboard", "Index", "Admin")
                            </a>
                        </li>
                        <li data-toggle="collapse" data-target="#Employers" class="collapsed">
                            <a href="#"><i class="fa fa-gift fa-lg"></i>Employer<span class="arrow"></span></a>

                            <ul class="sub-menu collapse" id="Employers">
                                <li>
                                    <p><span class="glyphicon glyphicon-user"></span>   @Html.ActionLink("Employers", "Employers", "Admin")</p>
                                </li>
                                <li>
                                    <p><span class="glyphicon glyphicon-plus-sign"></span>   @Html.ActionLink("Add Employer", "CreateEmployer", "Admin")</p>
                                </li>
                            </ul>
                        </li>
                        <li data-toggle="collapse" data-target="#Supplier" class="collapsed">
                            <a href="#"><i class="fa fa-globe fa-lg"></i> Supplier <span class="arrow"></span></a>

                            <ul class="sub-menu collapse" id="Supplier">
                                <li>
                                    <p><span class="glyphicon glyphicon-user"></span>   @Html.ActionLink("Supplier", "ViewSuppliers", "Admin")</p>
                                </li>
                                <li>
                                    <p><span class="glyphicon glyphicon-plus-sign"></span>   @Html.ActionLink("Add Supplier", "CreateSupplier", "Admin")</p>
                                </li>
                                <li>
                                    <p><span class="glyphicon glyphicon-plus-sign"></span>   @Html.ActionLink("Supplier Price Lists", "SupplierPriceList", "Admin")</p>
                                </li>
                            </ul>
                        </li>
                        <li data-toggle="collapse" data-target="#Master" class="collapsed">
                            <a href="#"><i class="fa fa-globe fa-lg"></i> Master data items <span class="arrow"></span></a>

                            <ul class="sub-menu collapse" role="menu" id="Master">
                                <li role="presentation">
                                    <p><span class="glyphicon glyphicon-plus-sign"></span>   @Html.ActionLink("Master data items", "MasterTab", "Admin")</p>
                                </li>
                                <li>
                                    <p><span class="glyphicon glyphicon-plus-sign"></span>   @Html.ActionLink("Product", "Products", "Admin")</p>
                                </li> 
                                <li>
                                    <p><span class="glyphicon glyphicon-plus-sign"></span>   @Html.ActionLink("Product Type Taxes Creation", "ProductTypeTaxes", "Admin")</p>
                                </li> 
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-dashboard fa-lg"></i> @Html.ActionLink("ChangePassword", "ChangePassword", "Account")
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-dashboard fa-lg"></i> @Html.ActionLink("Logout", "LogOut", "Account")
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    }

    <div class="container body-content" style="margin-top: 5px">
        <div>
            <p>
                <span class="glyphicon glyphicon-home"></span>
                @Html.MvcSiteMap().SiteMapPath()
            </p>
        </div>

    </div>

    <div class="container body-content" style="margin-bottom: 5px">
        @RenderBody()
        <hr />
        <div id="loading" class="collapse loader">
            <i class="fa fa-spinner fa-spin fa-3x" style="font-size:48px"></i>
        </div>
        @*Footer*@
        <footer>
            <p>&copy; @DateTime.Now.Year </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Href("~/Scripts/jquery.datetimepicker.full.js")"></script>
    <script src="@Href("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
