@using InventoryManagement.Models;
@using InventoryManagement.Util;

@{
    ViewBag.Title = "MasterTab";
}

<style>
    table, th, td {
        border: .5px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
        text-align: left;
    }
</style>
<div class="panel panel-default" style=" padding: 10px; margin: 10px">
    <div id="Tabs" role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            @foreach (MasterDataType item in Enum.GetValues(typeof(MasterDataType)))
            {
                if (item != MasterDataType.None)
                {
                    <li class="lidatatype">
                        @Ajax.ActionLink(MasterDataDTO.GetDisplayName(item), "MasterDataView", "Admin", new { Type = item },
                                        new AjaxOptions { UpdateTargetId = "dvmasterdatacontent", LoadingElementId= "loading" },
                                        new { id = "li" + item, @onclick = "$('.lidatatype').removeClass('active'); $(this).parent().addClass('active');" })
                    </li>
                }
            }
        </ul>
        <!-- Tab panes -->
        <div class="tab-content in" style="padding-top: 20px">
           
            <div role="tabpanel" class="tab-pane active" id="dvmasterdatacontent"></div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#liBrand').trigger('click');
        });
        function OnSuccessMasterRecordInsert(result, datatype) {
            if (result != undefined) {
                if (result.Status == '@((int)AjaxResponse.Success)') {
                    $('#li' + datatype).trigger('click');
                } else if (result.Status == '@((int)AjaxResponse.ModelError)') {
                    $('#tdmasterdata').html(result.Result);
                }
            }
        }
        function OnSuccessDeleteMasterData(result, datatype) {
            if (result != undefined) {
                if (result.Status == '@((int)AjaxResponse.Success)') {
                    $('#li' + datatype).trigger('click');
                } else if (result.Status == '@((int)AjaxResponse.Failed)') {
                    
                }
            }
        }
    </script>
}
