@model IEnumerable<InventoryManagement.Models.SupplierPriceListDTO>

<div class="padding-md clearfix">
    <table class="table table-striped" id="dataTable">
        <tr>
            <th>SupplierId</th>
            <th>Brand</th>
            <th>Freezing Type</th>
            <th>Variety</th>
            <th>Specie</th>
            <th>Packing Type</th>
            <th>Product Form</th>
            <th>Type</th>
            <th>Grade</th>
            <th>Ply</th>
            <th>Category</th>
            <th>Core Type</th>
            <th>Soaked</th>
            <th>Packing Count</th>
            <th>Vender Units</th>
            <th>Expected Days</th>
            <th></th>            
        </tr>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr class="tremployers">
                    <td>
                        @item.SupplierId
                    </td>
                    <td>
                        @item.BrandName
                    </td>
                    <td>
                        @item.FreezingTypeName 
                    </td>
                    <td>
                        @item.VarietyName
                    </td>
                    <td>
                        @item.SpecieName 
                    </td>
                    <td>
                        @item.PackingTypeName 
                    </td>
                    <td>
                        @item.ProductFormName 
                    </td>
                    <td>
                        @item.Type 
                    </td>
                    <td>
                        @item.GradeName 
                    </td>
                    <td>
                        @item.PlyName 
                    </td>
                    <td>
                        @item.CategoryName 
                    </td>
                    <td>
                        @item.CoreType 
                    </td>
                    <td>
                        @item.SoakedName 
                    </td>
                    <td>
                        @item.PackingCount 
                    </td>
                    <td>
                        @item.VenderUnits 
                    </td>
                    <td>
                        @item.ExpectedDays 
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditSupplierPricelist", new { id = item.Id }) @Html.Raw(" | ")
                        @Html.ActionLink("Delete", "DeleteProduct", new { id = item.Id }, new { onclick = "return confirm('Are sure wants to delete?');" })
                    </td>
                </tr>
            }
        }
    </table>
</div>

