@model IEnumerable<InventoryManagement.Models.SupplierPriceListDTO>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="padding-md clearfix">
    <table class="table table-striped" id="dataTable">
        <tr>
            <th>SupplierId</th>
            <th>Brand</th>
            <th>Freezing Type</th>
            <th>Variety</th>
            <th>Specie</th>
            <th>Packing Type</th>
            <th>Product Form</th>
            <th>Type</th>
            <th>Grade</th>
            <th>Ply</th>
            <th>Category</th>
            <th>Core Type</th>
            <th>Soaked</th>
            <th>Packing Count</th>
            <th>Vender Units</th>
            <th>Expected Days</th>
            <th></th>
            <th></th>
        </tr>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FreezingType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Variety)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Specie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PackingType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductForm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ply)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoreType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Soaked)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PackingCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VenderUnits)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpectedDays)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        }
    </table>
</div>

