@model IEnumerable<InventoryManagement.Models.SupplierPriceListDTO>

<div class="padding-md clearfix">
    <table class="table table-striped" id="dataTable">
        <tr>
        <tr>
            <th>SupplierId</th>
            <th>ProductId</th>
            <th>Category</th>           
            <th>Vender Units</th>
            <th>Expected Days</th>
            <th></th>
        </tr>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.VenderUnits)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpectedDays)
                    </td>
                  
                    <td>
                        @Html.ActionLink("Edit", "EditSupplierPricelist", new { id = item.Id }) @Html.Raw(" | ")
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are sure wants to delete?');" })
                    </td>
                </tr>
            }
        }

    </table>
</div>
