@model IEnumerable<InventoryManagement.Models.SuppliersDTO>

@{
    ViewBag.Title = "ViewSuppliers";
}
<h2>Suppliers</h2>
<div class="padding-md">
    <div class="main-header clearfix">
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                <span class="label label-info ">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    @Html.ActionLink("Create New", "CreateSupplier", "Admin")
                </span>
                <span class="label label-info pull-right">  @Model.Count() Suppliers</span>
            </div>
        </div>
        <div class="padding-md clearfix">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SupplierBussinessName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Plantid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CoreTypeId)
                    </th>
                  
                    <th>
                        @Html.DisplayNameFor(model => model.Fullname)
                    </th>                  
                    
                    <th>
                        @Html.DisplayNameFor(model => model.CellPhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.State)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.Zipcode)
                    </th>   
                    <th>
                        @Html.DisplayNameFor(model => model.ExpertedDays)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SACCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GSTNumber)
                    </th>                   
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierBussinessName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Plantid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoreTypeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fullname)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.CellPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address.Zipcode)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpertedDays)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SACCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GSTNumber)
                    </td>                   
                    <td>
                        @Html.ActionLink("Edit", "EditSupplier", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "DeleteSuppliers", new { id = item.Id })
                    </td>
                </tr>
                }

            </table>
        </div>
    </div>
</div>